<div class="product-item {{ classes }}">
    <img src="{{ product.featured_media | img_url: 'master' }}" alt="{{ product.title }}">
    <a href="{{ product.url }}"></a>
    <h4 class="">{{ product.title }}</h4>
    <span class="">{{ product.price | money }}</span>
    <div class="">
        {{ product.description }}
    </div>
</div>

{%- comment -%}
{% for tag in product.tags %}
    {% assign _tag = tag | downcase %}
    {% if _tag contains "MY_TAG" %}
        // DO SOMETHING
        {% break %}
    {% endif %}
{% endfor %}
{%- endcomment -%}