<section class="collection">
    {% if collection.image %}
        <img class="" src="{{ collection.image | img_url: 'master' }}" alt="{{ collection.title }}">
    {% else %}
        <img class="" src="https://via.placeholder.com/1920x1080" alt="{{ collection.title }}">
    {% endif %}
    <h2 class="">{{ collection.title }}</h2>

    {% render "collection-filters" %}

    {% paginate collection.products by section.settings.range %}
        {% for product in collection.products %}
            {% render "product-snippet", product: product, classes: "CLASSES" %}
        {% endfor %}
        {% if paginate.pages > 1 %}
            <div class="">
                {{ paginate | default_pagination }}
            </div> 
        {% endif %}     
    {% endpaginate %}
</section>

{% schema %}
{
    "name": "Collection",
    "settings": [
        {
            "type": "range",
            "id": "range",
            "label": "Products per page",
            "min": 1,
            "max": 16,
            "step": 1,
            "default": 1
        }
    ]
}
{% endschema %}