<!-- header -->
<div class="header">
    <a href="/" class="">
        <img src="{{ section.settings.logo | img_url: 'master' }}" alt="{{ page_title }}">
    </a>
    <nav class="">
        {% for link in linklists[section.settings.nav].links %}
            <a {% if link.current %}class="active"{% endif %} href="{{ link.url }}">{{ link.title }}</a>
        {% endfor %}
    </nav>
    <a href="/search">Search</a>
    <a href="{% if customer %}/account{% else %}/account/login{% endif %}">Account</a>
    <a href="/cart" class="cart-button">Cart(<span class="cart-item-count">{{ cart.item_count }}</span>)</a>
</div>
<!-- header // -->

{% schema %}
{
    "name": "Header",
    "settings": [
        {
            "type": "image_picker",
            "id": "logo",
            "label": "Logo"
        },
        {
            "type": "link_list",
            "id": "nav",
            "label": "Navigation",
            "default": "main-menu"
        }
    ]
}
{% endschema %}